################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/out/*
ESTE ES EL DE PROYECTO.txt
Iluminacion/x64/*